In [1]:
import pandas as pd
import os
import requests
import json
import prettytable

In [109]:
ev_sales = pd.read_csv("data/10567_pev_sales_2-28-20.csv")
ev_sales

,Vehicle,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,Chevy Volt,PHEV,7671,23461,23094,18805,15393,24739,20349,18306,4915,156733
1,Nissan Leaf,EV,9674,9819,22610,30200,17269,14006,11230,14715,12365,141888
2,Smart ED,EV,342,139,923,2594,1387,657,544,1219,680,8485
3,Mitsubishi I EV,EV,76,588,1029,196,115,94,6,0,0,2104
4,BMW Active E,EV,0,673,0,0,0,0,0,0,0,673
5,Prius PHEV,PHEV,0,12749,12088,13264,4191,2474,20936,27595,23630,116927
6,Ford Focus EV,EV,0,683,1738,1964,1582,901,1817,560,0,9245
7,Honda Fit EV,EV,0,93,569,407,2,0,0,0,0,1071
8,Tesla Model S,EV,0,2400,19400,16750,26200,30200,26500,25745,15090,162285
9,Toyota RAV4 EV,EV,0,192,1005,1184,18,0,0,0,0,2399
10,Ford C-Max Energi,PHEV,0,2374,7154,8433,7591,7957,8140,582,0,42231
11,Honda Accord,PHEV,0,0,526,449,64,0,0,0,0,1039
12,Ford Fusion Energi,PHEV,0,0,6089,11550,9750,15938,9632,8074,7476,68509
13,Chevy Spark,EV,0,0,560,1145,2629,3035,23,7,0,7399
14,Fiat 500E,EV,0,0,260,1503,3477,3737,3336,2250,632,15195
15,Porsche Panamera S E-Hybrid,PHEV,0,0,51,879,407,393,18,2036,1958,5742
16,Cadillac ELR,PHEV,0,0,6,1310,1024,534,17,1,0,2892
17,BMW i3,EV,0,0,0,6092,11024,7625,6276,6117,4854,41988
18,Mercedes B-Class (B250e),EV,0,0,0,774,1906,632,744,135,9,4200
19,BMW i8,PHEV,0,0,0,555,2265,1594,488,772,1102,6776
20,VW e-Golf,EV,0,0,0,357,4232,3937,3534,1354,4863,18277
21,Kia Soul EV,EV,0,0,0,359,1015,1728,2157,1134,114,6507
22,Porsche Cayenne S E-Hybrid,PHEV,0,0,0,112,1163,2111,1574,1022,1140,7122
23,Mercedes S550 Plug,PHEV,0,0,0,0,118,550,666,96,371,1801
24,Volvo-XC90 Plug In,PHEV,0,0,0,0,86,2015,2358,1387,1710,7556
25,Tesla Model X,EV,0,0,0,0,208,19600,21700,26100,19425,87033
26,BMW X5,PHEV,0,0,0,0,892,5995,5349,4434,167,16837
27,Hyundai Sonata Plug In,PHEV,0,0,0,0,15,3000,2254,460,456,6185
28,Audi A3 Plug In,PHEV,0,0,0,0,0,4280,2877,2597,437,10191
29,BMW 3-series Plug-In,PHEV,0,0,0,0,0,880,4141,2600,705,8326
30,Mercedes GLE 550e,PHEV,0,0,0,0,0,231,463,966,1509,3169
31,BMW 7-series Plug-in,PHEV,0,0,0,0,0,23,707,339,80,1149
32,Mercedes C350We,PHEV,0,0,0,0,0,171,817,1721,2172,4881
33,Chevy Bolt,EV,0,0,0,0,0,579,23297,18019,16313,58208
34,Kia Optima Plug-in,PHEV,0,0,0,0,0,0,1512,965,350,2827
35,Hyundai Ioniq EV,EV,0,0,0,0,0,0,432,345,739,1516
36,Chrysler Pacifica Plug-in Hybrid,PHEV,0,0,0,0,0,0,2981,7062,5811,15854
37,Cadillac CT6,PHEV,0,0,0,0,0,0,205,231,25,461
38,BMW 5-Series Plug in,PHEV,0,0,0,0,0,0,3759,8664,5442,17865
39,MINI Countryman S E,PHEV,0,0,0,0,0,0,475,1564,494,2533
40,Porsche Panamera 4 E-H,PHEV,0,0,0,0,0,0,0,0,0,0
41,Tesla Model 3,EV,0,0,0,0,0,0,1770,139782,154840,296392
42,Honda Clarity BEV,EV,0,0,0,0,0,0,1126,948,742,2816
43,Volvo XC60 Plug In,PHEV,0,0,0,0,0,0,356,2267,1682,4305
44,Volvo S90 Plug In,PHEV,0,0,0,0,0,0,112,437,407,956
45,Honda Clarity Plug-in,PHEV,0,0,0,0,0,0,903,18602,10728,30233
46,Mitsubishi Outlander Plug In,PHEV,0,0,0,0,0,0,0,4166,2810,6976
47,Hyundai Ioniq Plug-In,PHEV,0,0,0,0,0,0,0,1590,1765,3355
48,Kia Niro Plug In,PHEV,0,0,0,0,0,0,0,3389,4051,7440
49,Mercedes GLC 350e Hybrid,PHEV,0,0,0,0,0,0,0,567,2459,3026
50,Jaguar I-Pace,EV,0,0,0,0,0,0,0,393,2594,2987
51,Hyundai Kona Electric,EV,0,0,0,0,0,0,0,0,1721,1721
52,Subaru Crosstrek Hybrid,PHEV,0,0,0,0,0,0,0,0,880,880
53,Audi e-tron,EV,0,0,0,0,0,0,0,0,5369,5369
54,Kia Niro EV,EV,0,0,0,0,0,0,0,0,1562,1562
55,Total,NaN,17763,53171,97102,118882,114023,159616,195581,361315,326644,1444097

In [110]:
dropped = ev_sales.drop(["Vehicle"], axis = 1)
dropped = dropped.set_index("Type")
dropped

,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
Type,,,,,,,,,,
PHEV,7671,23461,23094,18805,15393,24739,20349,18306,4915,156733
EV,9674,9819,22610,30200,17269,14006,11230,14715,12365,141888
EV,342,139,923,2594,1387,657,544,1219,680,8485
EV,76,588,1029,196,115,94,6,0,0,2104
EV,0,673,0,0,0,0,0,0,0,673
PHEV,0,12749,12088,13264,4191,2474,20936,27595,23630,116927
EV,0,683,1738,1964,1582,901,1817,560,0,9245
EV,0,93,569,407,2,0,0,0,0,1071
EV,0,2400,19400,16750,26200,30200,26500,25745,15090,162285
EV,0,192,1005,1184,18,0,0,0,0,2399
PHEV,0,2374,7154,8433,7591,7957,8140,582,0,42231
PHEV,0,0,526,449,64,0,0,0,0,1039
PHEV,0,0,6089,11550,9750,15938,9632,8074,7476,68509
EV,0,0,560,1145,2629,3035,23,7,0,7399
EV,0,0,260,1503,3477,3737,3336,2250,632,15195
PHEV,0,0,51,879,407,393,18,2036,1958,5742
PHEV,0,0,6,1310,1024,534,17,1,0,2892
EV,0,0,0,6092,11024,7625,6276,6117,4854,41988
EV,0,0,0,774,1906,632,744,135,9,4200
PHEV,0,0,0,555,2265,1594,488,772,1102,6776
EV,0,0,0,357,4232,3937,3534,1354,4863,18277
EV,0,0,0,359,1015,1728,2157,1134,114,6507
PHEV,0,0,0,112,1163,2111,1574,1022,1140,7122
PHEV,0,0,0,0,118,550,666,96,371,1801
PHEV,0,0,0,0,86,2015,2358,1387,1710,7556
EV,0,0,0,0,208,19600,21700,26100,19425,87033
PHEV,0,0,0,0,892,5995,5349,4434,167,16837
PHEV,0,0,0,0,15,3000,2254,460,456,6185
PHEV,0,0,0,0,0,4280,2877,2597,437,10191
PHEV,0,0,0,0,0,880,4141,2600,705,8326
PHEV,0,0,0,0,0,231,463,966,1509,3169
PHEV,0,0,0,0,0,23,707,339,80,1149
PHEV,0,0,0,0,0,171,817,1721,2172,4881
EV,0,0,0,0,0,579,23297,18019,16313,58208
PHEV,0,0,0,0,0,0,1512,965,350,2827
EV,0,0,0,0,0,0,432,345,739,1516
PHEV,0,0,0,0,0,0,2981,7062,5811,15854
PHEV,0,0,0,0,0,0,205,231,25,461
PHEV,0,0,0,0,0,0,3759,8664,5442,17865
PHEV,0,0,0,0,0,0,475,1564,494,2533
PHEV,0,0,0,0,0,0,0,0,0,0
EV,0,0,0,0,0,0,1770,139782,154840,296392
EV,0,0,0,0,0,0,1126,948,742,2816
PHEV,0,0,0,0,0,0,356,2267,1682,4305
PHEV,0,0,0,0,0,0,112,437,407,956
PHEV,0,0,0,0,0,0,903,18602,10728,30233
PHEV,0,0,0,0,0,0,0,4166,2810,6976
PHEV,0,0,0,0,0,0,0,1590,1765,3355
PHEV,0,0,0,0,0,0,0,3389,4051,7440
PHEV,0,0,0,0,0,0,0,567,2459,3026
EV,0,0,0,0,0,0,0,393,2594,2987
EV,0,0,0,0,0,0,0,0,1721,1721
PHEV,0,0,0,0,0,0,0,0,880,880
EV,0,0,0,0,0,0,0,0,5369,5369
EV,0,0,0,0,0,0,0,0,1562,1562
NaN,17763,53171,97102,118882,114023,159616,195581,361315,326644,1444097

In [111]:
dropped.dtypes

2011     int64
2012     int64
2013     int64
2014     int64
2015     int64
2016     int64
2017     int64
2018     int64
2019     int64
Total    int64
dtype: object

In [112]:
ev = dropped.loc["EV"]
ev

      2011  2012   2013   2014   2015   2016   2017    2018    2019   Total
Type
EV    9674  9819  22610  30200  17269  14006  11230   14715   12365  141888
EV     342   139    923   2594   1387    657    544    1219     680    8485
EV      76   588   1029    196    115     94      6       0       0    2104
EV       0   673      0      0      0      0      0       0       0     673
EV       0   683   1738   1964   1582    901   1817     560       0    9245
EV       0    93    569    407      2      0      0       0       0    1071
EV       0  2400  19400  16750  26200  30200  26500   25745   15090  162285
EV       0   192   1005   1184     18      0      0       0       0    2399
EV       0     0    560   1145   2629   3035     23       7       0    7399
EV       0     0    260   1503   3477   3737   3336    2250     632   15195
EV       0     0      0   6092  11024   7625   6276    6117    4854   41988
EV       0     0      0    774   1906    632    744     135       9    4200
EV       0     0      0    357   4232   3937   3534    1354    4863   18277
EV       0     0      0    359   1015   1728   2157    1134     114    6507
EV       0     0      0      0    208  19600  21700   26100   19425   87033
EV       0     0      0      0      0    579  23297   18019   16313   58208
EV       0     0      0      0      0      0    432     345     739    1516
EV       0     0      0      0      0      0   1770  139782  154840  296392
EV       0     0      0      0      0      0   1126     948     742    2816
EV       0     0      0      0      0      0      0     393    2594    2987
EV       0     0      0      0      0      0      0       0    1721    1721
EV       0     0      0      0      0      0      0       0    5369    5369
EV       0     0      0      0      0      0      0       0    1562    1562

In [114]:
sum_ev = ev.sum(axis=0)
sum_ev

2011      10092
2012      14587
2013      48094
2014      63525
2015      71064
2016      86731
2017     104492
2018     238823
2019     241912
Total    879320
dtype: int64

In [130]:
phev = dropped.loc["PHEV"]
sum_phev = phev.sum(axis = 0)
sum_phev

2011       7671
2012      38584
2013      49008
2014      55357
2015      42959
2016      72885
2017      91089
2018     122492
2019      84732
Total    564777
dtype: int64

In [162]:
lst = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']  
lst2 = [10092, 14587, 48094, 63525, 71064, 86731, 104492, 238823, 241912]
ev_df = pd.DataFrame({'Category': ['EV Sales', 'PHEV Sales'], '2011': [10092, 7671],
                      '2012': [14587, 38584], '2013': [48094, 49008], 
                      '2014': [63525, 55357],'2015': [71064, 42959], 
                      '2016': [86731, 772885], '2017': [104492, 91089],
                      '2018': [238823, 122492]}) 
ev_df = ev_df.set_index("Category")
ev_df

             2011   2012   2013   2014   2015    2016    2017    2018
Category
EV Sales    10092  14587  48094  63525  71064   86731  104492  238823
PHEV Sales   7671  38584  49008  55357  42959  772885   91089  122492

In [161]:
car_sales = pd.read_csv("data/car_sales_production.csv")
car_sales = car_sales.rename(columns = {"Unnamed: 0" : "Category"})
car_sales = car_sales.fillna(0)
car_sales = car_sales.drop(columns = ['1960', '1965', '1970', '1975', '1980', '1985', '1990', '1991', '1992', '1993',
                          '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
                          '2005', '2006', '2007', '2008', '2009', '2010'])
car_sales = car_sales.set_index("Category")
car_sales = car_sales.mul(1000)
car_sales

,2011,2012,2013,2014,2015,2016,2017,2018
Category,,,,,,,,
"Production, total",8662000,10336000,11067000,11661000,12106000,12180000,11190000,11298000
Passenger cars,2978000,4109000,4369000,4253000,4163000,3917000,3033000,2785000
Commercial vehiclesa,5685000,6227000,6698000,7408000,7943000,8264000,8157000,8513000
"Domestic sales, totalb",10109000,11582000,12479000,13389000,14128000,13969000,13644000,13717000
Passenger cars,4146000,5120000,5433000,5610000,5595000,5146000,4593000,4087000
Commercial vehiclesa,5963000,6462000,7046000,7779000,8532000,8824000,9051000,9630000

In [163]:
merged_sales = pd.concat([ev_df, car_sales])
merged_sales

,2011,2012,2013,2014,2015,2016,2017,2018
Category,,,,,,,,
EV Sales,10092,14587,48094,63525,71064,86731,104492,238823
PHEV Sales,7671,38584,49008,55357,42959,772885,91089,122492
"Production, total",8662000,10336000,11067000,11661000,12106000,12180000,11190000,11298000
Passenger cars,2978000,4109000,4369000,4253000,4163000,3917000,3033000,2785000
Commercial vehiclesa,5685000,6227000,6698000,7408000,7943000,8264000,8157000,8513000
"Domestic sales, totalb",10109000,11582000,12479000,13389000,14128000,13969000,13644000,13717000
Passenger cars,4146000,5120000,5433000,5610000,5595000,5146000,4593000,4087000
Commercial vehiclesa,5963000,6462000,7046000,7779000,8532000,8824000,9051000,9630000

In [164]:
merged_sales.to_csv("data/merged_sales.csv")